body {
    font-family: "Helvetica Neue";
    background-color: #f4f1ea;
    color: #2c2c2c;
    margin: 0;
    padding: 0;
}


h1, h2, h3 {
    font-weight: bold;
    text-align: center;
    color: #3b3024;
}

.btn-primary {
    background-color: #795548;
    border: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #5d4037;
    box-shadow: 0px 0px 8px rgba(255, 193, 7, 0.7);
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-body {
    text-align: center;
    color: #3b3024;
}

.table {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.table th {
    background-color: #795548;
    color: white;
}

.table-hover tbody tr:hover {
    background-color: #e0d9d2;
}
